{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Buscar Libros</title>
{% endblock titulo %}

{% block contenido %}

<div class="container">

    <h1>Buscar Libros en el Sistema</h1>
    <form action="{% url 'encontrarLibros' %}" method="get">
        {% csrf_token %}
        <table>
            <p> Ingrese el Libro que desea Buscar <input type="text" name="buscar" id="buscar"></p>
        </table>
        <input type="submit" value="Buscar">
    </form>
</div>
{% endblock contenido %}
