{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Comics</title>
{% endblock titulo %}

{% block contenido %}

<div class="lista_mangas">
    <h1>Lista de Comics</h1>
    <table>
        <tr>
            <td>
                <button class="btn_agregar_mangas"><a href="{% url 'comicsCreate' %}"><i class="fa fa-plus fa-lg" title="agregar"></i> Agregar</a></button>
            </td>        
        </tr>
    </table>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Editorial</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Cantidad de hojas</th>
                <th>Cantidad en Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in comics_list %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.cantidad_hojas }}</td>
                <td>{{ libro.cantidad_stock }}</td>
                <td>{{ libro.precio }}</td>
                <td>
                    <a href="{%  url 'comicsUpdate' libro.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-edit fa-sm" title="Edit Record"></i></a>
                    <a href="{%  url 'comicsDelete' libro.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-trash fa-sm" title="Delete Record"></i></a>                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
    