{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Figuras</title>
{% endblock titulo %}

{% block contenido %}

<div class="lista_mangas">
    <h1>Lista de Figuras</h1>
    <table>
        <tr>
            <td>
                <a href="{% url 'figurasCreate' %}" class="btn btn-primary btn-sm"> <i class="fa fa-plus fa-lg" title="agregar"> </i>Agregar</a>
            </td>        
        </tr>
    </table>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for figura in figuras_list %}
            <tr>
                <td>
                    {% if figura.imagen %}
                        <img src="{{ figura.imagen.url }}" alt="{{ figura.nombre }}" style="max-width: 200px;"/>
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </td>
                <td>{{ figura.id }}</td>
                <td>{{ figura.nombre }}</td>
                <td>{{ figura.precio }}</td>
                <td>
                    <a href="{% url 'figurasUpdate' figura.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-edit fa-sm" title="Edit Record"></i></a>
                    <a href="{% url 'figurasDelete' figura.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-trash fa-sm" title="Delete Record"></i></a>                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
    