{% extends 'gestion/index.html' %}

{% block titulo %}
<title>Mangas</title>
{% endblock titulo %}

{% block contenido %}

<div class="lista_mangas">
    <h1>Lista de Mangas</h1>
    <table>
        <tr>
            <td>
                <a href="{% url 'mangasCreate' %}" class="btn btn-primary btn-sm"> <i class="fa fa-plus fa-lg" title="agregar"> </i>Agregar</a>
            </td>        
        </tr>
    </table>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tomo</th>
                <th>Editorial</th>
                <th>Autor</th>
                <th>Demografía</th>
                <th>Cantidad de hojas</th>
                <th>Cantidad en Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for manga in mangas_list %}
            <tr>
                <td>
                    {% if manga.imagen %}
                        <img src="{{ manga.imagen.url }}" alt="{{ manga.nombre }}" style="max-width: 200px;"/>
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </td>
                <td>{{ manga.id }}</td>
                <td>{{ manga.nombre }}</td>
                <td>{{ manga.tomo }}</td>
                <td>{{ manga.editorial }}</td>
                <td>{{ manga.autor }}</td>
                <td>{{ manga.demografia }}</td>
                <td>{{ manga.cantidad_hojas }}</td>
                <td>{{ manga.cantidad_stock }}</td>
                <td>{{ manga.precio }}</td>
                <td>
                    <a href="{% url 'mangasUpdate' manga.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-edit fa-sm" title="Edit Record"></i></a>
                    <a href="{% url 'mangasDelete' manga.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-trash fa-sm" title="Delete Record"></i></a>                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
    