{% extends 'cd_html/index.html' %}

{% block titulo %}
<title>Comics</title>
{% endblock titulo %}

{% block contenido %}
<div class="lista_mangas">
    <h1>Lista de Comics
    </h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Editorial</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Cantidad de hojas</th>
                <th>Cantidad en Stock</th>
            
            </tr>
        </thead>
        <tbody>
            {% for libro in comics %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.cantidad_hojas }}</td>
                <td>{{ libro.cantidad_stock }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido %}
    